<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>OtherBusiness</title>

<!-- Custom fonts for this template-->
<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">

<!-- Custom styles for this template-->
<link href="/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
		<ul
			class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
			id="accordionSidebar">
			<!-- Sidebar - Brand -->
			<a
				class="sidebar-brand d-flex align-items-center justify-content-center"
				th:href="@{/categories/list}">
				<div class="sidebar-brand-icon">
					<span class="mr-2 d-none d-lg-inline text-gray-600 small"><img
						th:src="@{/img/ob.png}" width="165" height="65" alt="logo"
						align="middle"></img></span>
				</div>

			</a>

			<!-- Divider -->
			<hr class="sidebar-divider my-0">


			<!-- Nav Item - Pages Collapse Menu -->
			<li class="nav-item"><a class="nav-link collapsed" href="#"
				data-target="#collapseTwo" aria-expanded="false"
				aria-controls="collapseTwo"> <i class="fas fa-fw fa-cog"></i> <span>Men&uacute;</span>
			</a>
				<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
					data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item" th:href="@{/categories/list}">Categorías</a>
					</div>
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item" th:href="@{/campus/list}">Campus</a>
					</div>
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item" th:href="@{/students/list}">Estudiantes</a>
					</div>
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item" th:href="@{/projects/list}">Proyectos</a>
					</div>
					<div class="bg-white py-2 collapse-inner rounded">
						<a class="collapse-item" th:href="@{/investors/list}">Inversores</a>
					</div>
				</div></li>

			<!-- Sidebar Toggler (Sidebar) -->


		</ul>
		<!-- End of Sidebar -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<nav
					class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

					<!-- Sidebar Toggle (Topbar) -->
					<button id="sidebarToggleTop"
						class="btn btn-link d-md-none rounded-circle mr-3">
						<i class="fa fa-bars"></i>
					</button>

					<!-- Topbar Search -->


					<!-- Topbar Navbar -->
					<ul class="navbar-nav ml-auto">

						<!-- Nav Item - Search Dropdown (Visible Only XS) -->
						<li class="nav-item dropdown no-arrow d-sm-none"><a
							class="nav-link dropdown-toggle" href="#" id="searchDropdown"
							role="button" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false"> <i class="fas fa-search fa-fw"></i>
						</a></li>



						<!-- Nav Item - User Information -->
						<li class="nav-item dropdown no-arrow"><a
							class="nav-link dropdown-toggle" href="#" id="userDropdown"
							role="button" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false"> <span
								class="mr-2 d-none d-lg-inline text-gray-600 small"><img
									th:src="@{/img/logout.png}" width="30" height="30" alt="logo"
									align="middle"></img></span>

						</a> <!-- Dropdown - User Information -->
							<div
								class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
								aria-labelledby="userDropdown">
								<a class="dropdown-item" href="#"> <i
									class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> Perfil
								</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#" data-toggle="modal"
									data-target="#logoutModal"> <i
									class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
									Cerrar sesión
								</a>
							</div></li>

					</ul>

				</nav>
				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<h1 class="h3 mb-4 text-gray-800">Inversionista</h1>

					<hr class="sidebar-divider">
					<div th:object="${investor}" th:remove="tag">
						<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger"
							role="alert">
							<li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
						</ul>
					</div>

					<form th:action="@{/investors/save}" th:object="${investor}"
						method="post">

						<div class="form-group row">
							<label for="idInvestor" class="col-sm-2 col-form-label">Id</label>
							<div class="col-sm-6">
								<input type="text" th:field="*{idInvestor}" class="form-control"
									th:errorclass="'form-control alert-danger'" /> <small
									class="form-text text-danger"
									th:if="${#fields.hasErrors('idInvestor')}"
									th:errors="*{idInvestor}"></small>
							</div>
						</div>

						<div class="form-group row">
							<label for="customer.firstNameCustomer" class="col-sm-2 col-form-label">Nombres</label>
							<div class="col-sm-6">
								<input type="text" th:field="*{customer.firstNameCustomer}"
									class="form-control" required placeholder="Nombre completo"
									pattern="[A-Za-z]*" title="El nombre solo acepta letras y debe estar junto"
									th:errorclass="'form-control alert-danger'" />
							</div>
						</div>
						<div class="form-group row">
							<label for="customer.lastNameCustomer" class="col-sm-2 col-form-label">Apellidos</label>
							<div class="col-sm-6">
								<input type="text" th:field="*{customer.lastNameCustomer}"
									class="form-control"  required placeholder="Apellido completo"
									pattern="[A-Za-z]*" title="El Apellido solo acepta letras y debe estar junto"
									th:errorclass="'form-control alert-danger'" />
							</div>
						</div>
						<div class="form-group row">
							<label for="customer.dniCustomer" class="col-sm-2 col-form-label">DNI</label>
							<div class="col-sm-6">
								<input type="text" th:field="*{customer.dniCustomer}"
									class="form-control"  required placeholder="DNI"
									pattern="[0-9]*" min=8 max=8 title="El DNI solo acepta numeros de 8 digitos"
									th:errorclass="'form-control alert-danger'" />
							</div>
						</div>
						<div class="form-group row">
							<label for="customer.phoneCustomer" class="col-sm-2 col-form-label">Celular</label>
							<div class="col-sm-6">
								<input type="text" th:field="*{customer.phoneCustomer}"
									class="form-control"  required placeholder="Telefono/Celular"
									pattern="[0-9]*" min=9 max=9 title="El Telefono/Celular solo acepta numeros de 9 digitos"
									th:errorclass="'form-control alert-danger'" />
							</div>
						</div>

						<div class="form-group row">
							<label for="rucInvestor" class="col-sm-2 col-form-label">RUC: </label>
							<div class="col-sm-6">
								<input type="text" th:field="*{rucInvestor}"
									class="form-control"
									th:errorclass="'form-control alert-danger'" /> <small
									class="form-text text-danger"
									th:if="${#fields.hasErrors('rucInvestor')}"
									th:errors="*{rucInvestor}"></small>
							</div>
						</div>

						<div class="form-group row">
							<label for="country.nameCountry">País:</label>
							<div class="col-sm-6">
								<select class="form-control" th:field="*{country.idCountry}">
									<option th:each="c: ${listCountry}" 
										th:value="${c.idCountry}" th:text="${c.nameCountry}"
										th:selected="(${c.idCountry} == *{country.idCountry})"></option>
								</select>
							</div>
						</div>

						<div class="form-group row">
							<label for="districtInvestor" class="col-sm-2 col-form-label">Distrito:
							</label>
							<div class="col-sm-6">
								<input type="text" th:field="*{districtInvestor}"
									class="form-control"
									th:errorclass="'form-control alert-danger'" /> <small
									class="form-text text-danger"
									th:if="${#fields.hasErrors('districtInvestor')}"
									th:errors="*{districtInvestor}"></small>
							</div>
						</div>

						<div class="form-group row">
							<label for="emailInvestor" class="col-sm-2 col-form-label">Email:
							</label>
							<div class="col-sm-6">
								<input type="text" th:field="*{emailInvestor}"
									class="form-control"
									th:errorclass="'form-control alert-danger'" /> <small
									class="form-text text-danger"
									th:if="${#fields.hasErrors('emailInvestor')}"
									th:errors="*{emailInvestor}"></small>
							</div>
						</div>

						<div class="form-group row">
							<div class="col-sm-6">
								<input type="submit" value="Guardar" class="btn btn-secondary"></input>
								<a href="/investors/list" class="btn btn-danger">Cancelar</a>
							</div>
						</div>
						<p th:text="${mensaje}"></p>
					</form>




				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			<footer class="sticky-footer bg-white">
				<div class="container my-auto">
					<div class="copyright text-center my-auto">
						<span>Copyright &copy; Web 2020</span>
					</div>
				</div>
			</footer>
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">¿Listo para
						salir?</h5>
					<button class="close" type="button" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Seleccione "Cerrar sesión" a
					continuación si está listo para finalizar su sesión actual</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button"
						data-dismiss="modal">Cancelar</button>
					<a class="btn btn-primary" th:href="@{/categories/index}">Cerrar
						Sesión</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript-->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

	<!-- Core plugin JavaScript-->
	<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

	<!-- Custom scripts for all pages-->
	<script src="/js/sb-admin-2.min.js"></script>

</body>

</html>
